#audio-bars {
  height: 1em;
  position: relative;
}

.audio-bar {
  background: var(--main-color);
  bottom: 0;
  height: .1em;
  position: absolute;
  width: 3px;
  animation: sound 1s cubic-bezier(.17,.37,.43,.67) infinite alternate;
}

@keyframes sound {
  0% {
    opacity: .35;
    height: .1em; 
  }
  100% {
    opacity: 1;       
    height: 1em;        
  }
}

.audio-bar:nth-child(1)  { left:  0em; animation-duration: 0.4s; }
.audio-bar:nth-child(2)  { left: .25em; animation-duration: 0.2s; }
.audio-bar:nth-child(3)  { left: .50em; animation-duration: 1.0s; }
.audio-bar:nth-child(4)  { left: .75em; animation-duration: 0.3s; }
