
html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

input[type=search]::-webkit-search-cancel-button {
  appearance: none;
}